@{
    Layout = null;
}

<div class="list-group">
    <a href="#" class="list-group-item active">域名管理</a>

    <a href="/Domain" class="list-group-item">
        <span class="glyphicon glyphicon-list"></span> 查看列表
    </a>
    <a href="/Domain/Create" class="list-group-item">
        <span class="glyphicon glyphicon-plus"></span> 添加域名
    </a>

</div>
