@{
    Layout = null;
}

<div class="list-group">
    <a href="#" class="list-group-item active">系统工具</a>

    <a href="/Tool/ReLoadSiteCategoryCache" class="list-group-item">
        <span class="glyphicon glyphicon-list"></span> 构建分类规则缓存
    </a>

</div>
